.responsive-image {
  position: relative;
  max-width: 100%;
}

.responsive-image__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .slides {
    height: 300px !important;
  }
  .home {
    height: 300px !important;
  }
  .slider {
    height: 300px !important;
  }
}

@media only screen and (min-width: 1000px) {
  .slides {
    height: 450px !important;
  }
  .home {
    height: 450px !important;
  }
  .slider {
    height: 450px !important;
  }
}
